<!DOCTYPE html>
<html>
    <head>
        <%- include('../../layout/head') %>
    </head>
    <body>
        <header>
            <%- include('../../layout/header') %>
        </header>
        <div class="wrapper">
            <ul class="search-heading">
                    <li><a href="/">Home</a></li>
                    <li><a href="/search">Search</a></li>
            </ul>
            <h2>Search Results</h2>
        <div class="search-results-container">
            <ul>
            <% data.forEach(book => { %>
                <li class="search-item">
                <% let imageSource =  book.image_url ? book.image_url : "https://i.imgur.com/J5LVHEL.jpg" %>
            <img src="<%= imageSource %>" />
            <h2> <%= book.title %> </h2>
            <h3><%= book.author %></h3>
            <!-- <p><%= book.description %></p> -->
            <!-- <p>ISBN13: <%= book.isbn13 %></p> -->
            <form action="/add" method="POST">
                <input type="hidden" name="title"   value='<%= book.title %>' />
                <input type="hidden" name="author" value='<%= book.author %>' />
                <input type="hidden"  name="description" value='<%= book.description %>'/>
                <input type="hidden" name="isbn13" value='<%= book.isbn13 %>'/>
                <input type="hidden"  name="image_url" value="<%= imageSource %>" />
                <button type="submit" class="add-to-booklist">Add to BookList</button>
            </form>
                </li>
            <% }) %>
            </ul>
        </div>
    </div>
        <script src="" async defer></script>
    </body>
</html>