<!DOCTYPE html>
<html>
    <head>
        <%- include('../layout/head') %>
    </head>
    <body>
        <header>
            <%- include('../layout/header') %>
        </header>
    <div class="wrapper">
        <ul class="search-heading">
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
    </ul>
    <h2>Details</h2>
        <div class="book-details">
            <img src="<%= book.image_url %>" />
            <h2> <%= book.title %> </h2>
            <h3><%= book.author %></h3>
            <br>
            <p><%= book.description %></p>
            <br>
            <p>ISBN13: <%= book.isbn %></p>

              <!-- method override -->
              <form action="/pages/books/<%= book.id %>?_method=DELETE" method="POST">
                <button>DELETE</button>
              </form>
        </div>
    </div>
        <script src="" async defer></script>
    </body>
</html>