<!DOCTYPE html>
<html>

<head>
    <%- include('../layout/head') %>
</head>

<body>
    <header>
        <%- include('../layout/header') %>
    </header>
    <div class="wrapper">
        <ul class="search-heading">
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
    </ul>
    <h2>Update Details</h2>
        <div>
            <img src="<%= book.image_url %>" />
            <form id="updateForm" action="/pages/books/<%= book.id %>?_method=PUT" method="post">
                <fieldset>
                    <legend>Update the entries</legend>
                    <label for="title">Title</label>
                    <input type="text" name="title" value="<%= book.title %>" />
                    <br><br>
                    <label for="author">Author</label>
                    <input type="text" name="author" value="<%= book.author %>" />
                    <br><br>
                    <label for="description">Description</label>
                    <textarea name="description" id="updateDescript" value="<%= book.description %>" cols="30"
                        rows="10"><%= book.description %></textarea>
                    <br><br>
                    <label for="image_url">Image URL</label>
                    <input type="text" name="image_url" value="<%= book.image_url %>" />
                    <br><br>
                    <label for="isbn">ISBN 13</label>
                    <input type="text" name="isbn" value="<%= book.isbn %>" />
                </fieldset>
                <button class="update-library-button">
                    Update
                </button>
            </form>

        </div>
        <script src="" async defer></script>
</body>

</html>